body{
    background-color:palevioletred
    background-image:  url(https://static.vecteezy.com/system/resources/thumbnails/035/040/581/small_2x/ai-generated-beautiful-nature-picture-free-photo.jpg)
}
h1{
    background-color:#00ffff;
}